# Default owners for everything in the repo.
# See https://docs.github.com/articles/about-code-owners

# Note: This should be updated with a maintainers org team rather than indivudal users for ease of maintenance 
* @AndrewN4675 @WSU-Software-Development-Club/officers-26-27
